[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.1"
sqlalchemy = "==1.4.34"
flask-sqlalchemy = "==2.5.1"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.9"
