<!DOCTYPE html>
<html>

<head>
  <title>ふらっとショッピング</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <nav class="{{ preference.color }} lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">ふらっとショッピング</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">ホーム</a></li>
        <li><a href="/settings">設定</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</body>

</html>